services:
  shopping-web:
    image: nginx:latest
    container_name: shopping-web-nginx
    restart: always
    ports:
      - "8087:8084"
    volumes:
      - ./:/var/www/html
      - ./sites.conf:/etc/nginx/conf.d/site.conf
    links:
      - shopping-app
    networks:
      - shopping-network
  shopping-app:
    build: .
    # image: php:7.4-fpm
    container_name: shopping-php
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
    - ./:/var/www/html
    # - ./cosmos-back-end/docker/app/php.ini:/usr/local/etc/php/conf.d
    
    ports:
      - "9000:9000"
    networks:
      - shopping-network
    depends_on:      
      - shopping-db
  shopping-db:
    image: mysql:8.4
    container_name: shopping-db
    volumes:
      # - ./storage/dump/cosmos-dump-2025-04-18.sql:/docker-entrypoint-initdb.d/dump.sql
      - ./storage/database:/var/lib/mysql
    ports:
      - 3308:3306
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: shopping
      MYSQL_USER: william
      MYSQL_PASSWORD: william
    networks:
      - shopping-network
  # redis:
  #   image: redis:latest
  #   container_name: redis-cosmos
  #   volumes:
  #     - ./redis.conf:/usr/local/etc/redis/redis.conf
  #   command: /bin/sh -c "redis-server --requirepass $$REDIS_HOST_PASSWORD"
  #   ports:
  #     - 6379:6379
  #   networks:
  #     - cosmos
  #   environment:      
  #     REDIS_HOST_PASSWORD: william
  #     REDIS_PASSWORD: william
      
networks:
  shopping-network:
    driver: bridge

  # cosmos-back-end:
  #   image: ambientum/php:7.4-nginx
  #   container_name: cosmos-back-end
  #   ports:
  #     - 8080:8080
  #   volumes:
  #     - .:/var/www/app

  # cosmos-back-end-mysql:
  #   image: mysql:5.7
  #   command: mysqld --sql_mode=""
  #   container_name: cosmos-back-end-mysql
  #   volumes:
  #     - ./storage/docker/mysql:/var/lib/mysql
  #   ports:
  #     - 3308:3306
  #   restart: unless-stopped
  #   environment:
  #     MYSQL_ROOT_PASSWORD: farmarcas
  #     MYSQL_DATABASE: farmarcas
  #     MYSQL_USER: farmarcas
  #     MYSQL_PASSWORD: farmarcas
      # COPY DUMP FILE INTO MYSQL CONTAINER: docker cp "path/to/dump.sql" cosmos-back-end-mysql:/dump.sql
      # IMPORT MYSQL DUMP: docker exec -i cosmos-back-end-mysql mysql -h 127.0.0.1 -u root -pfarmarcas farmarcas < dump.sql
